<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>

    <h1>My Recipes!</h1>

    <table>
        <thead>
            <th>ID</th>
            <th>Description</th>
            <th>Prep Time</th>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">123</a></td>
                <td th:text="${recipe.description}">desc</td>
                <td th:text="${recipe.prepTime}">prep</td>
            </tr>
        </tbody>
    </table>
</body>
</html>